<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">
                Bienvenue sur Kodatech!
            </h1>
            <p class="text-center">Cette saison deux nous reserve bien des surprises!</p>
        </div>
        <div class="col-md-6">
            <p class="text-justify">
                Cette saison se passeras en équipes.<br>
                les joueurs ont le choix du nombre de perssones dans leurs équipes
                allant de 1 a 999. Ils devrons donc crée une base commune et s'entre aider.<br>
                cependent l'entre aide entre équipe est parfaitement autorisé, tout comme la fusion d'équipe et la séparation!<br>
                du Drama, de la Traitrise, de la Trahison, du fun... Que nous reserveras cette saison 2 de Kodatech?
            </p>
        </div>
        <div class="col-md-6">
            Les équipes formé sont les suivantes:<br>
            <ul>
                <li><a href="/teamcoolkids">Team Cool Kids</a></li>
                <li><a href="/topi">Topinambourg</a></li>
                <li><a href="/pazper">P-AZ-per</a></li>
            </ul>
            <p>Chaque équipes est libre de choisirs les mods sur les quelle elle veut jouer ou se spécialisé.<br>
            La gestion de l'équipe dépend du Team leader, auccune regle n'est imposer a ce sujet.</p>
        </div>
    </div>
</div>
<div class="container">
<div class="row">
  <div class="column">
    <img src="https://www.siriusmediagroup.com/themes/smg-v2/assets/img/parthner/SIRIUSMG(BL).png" alt="Snow" style="width:100%">
  </div>
  <div class="column">
    <img src="/images/asthrionaLogo.png" alt="Forest" style="width:100%">
  </div>
    <img src="/images/rbdark.png" class="mx-auto d-block" alt="Mountains" style="width:50%">
</div>
</div>