<h1 class="text-center">P-AZ-per</h1>
<div class="container" style="padding-top: 5rem;">
    <div class="row">
        <div class="column">
            <div class=" hoverable active">
                <a href="#" target="_blank">
                </a>
                <div class="container">
                    <h3></h3>
                    <p class="title"></p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card hoverable active">
                <a href="https://twitter.com/azmerhos/" target="_blank">
                    <img src="https://cdn.discordapp.com/avatars/564090840042176523/d84b1320230e6d45f8614962f53a20b0.png?size=256"
                        alt="Asthriona" style="width:100%;">
                </a>
                <div class="container">
                    <h3>Azmerhos</h3>
                    <p class="title">Streamer, One Man Team</p>
                </div>
            </div>
        </div>
    </div>
</div>