<div class="container" style="padding-top: 5rem;">
    <div class="row">
        <div class="column">
            <div class="card hoverable active">
                <a href="https://Asthriona.com" target="_blank">
                    <img src="https://cdn.discordapp.com/avatars/186195458182479874/3d81a6c242ea419a68840b83f387596f.png?size=256"
                        alt="Asthriona" style="width:100%;">
                </a>
                <div class="container">
                    <h3>Asthriona</h3>
                    <p class="title">Streamer Anglophone</p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card hoverable active">
                <a href="https://Twitch.tv/GreenP94" target="_blank1">
                    <img src="https://cdn.discordapp.com/avatars/144818986100588544/48c290d43026658fd400ef35735710c2.png?size=256"
                        alt="Acrylix" style="width:100%;">
                </a>
                <div class="container">
                    <h3>GreenP</h3>
                    <p class="title">Streamer, SMG Investor</p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card hoverable active">
                <a href="#" target="_blank2">
                    <img src="https://cdn.discordapp.com/avatars/464812792776753162/b1f7416712d7dd20d7428a50745d0d46.png?size=256"
                        alt="Vik" style="width:100%;">
                </a>
                <div class="container">
                    <h3>Lara</h3>
                    <p class="title">Moderatrice SMG Privilégier AF.</p>
                </div>
            </div>
        </div>
    </div>
</div>